<?xml version='1.0' encoding='utf-8'?>
<widget id="org.open-austin.greenmap" version="0.0.1" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>Green Map</name>
    <description>
        An easy to browse gallery of the parks in Austin.
    </description>
    <author email="info@open-austin.org" href="http://open-austin.org">
        Open Austin
    </author>
    <content src="index.html" />
    <plugin name="cordova-plugin-whitelist" version="1" />
    <access origin="*" />
    <allow-intent href="http://*/*" />
    <allow-intent href="https://*/*" />
    <allow-intent href="tel:*" />
    <allow-intent href="sms:*" />
    <allow-intent href="mailto:*" />
    <allow-intent href="geo:*" />
    <platform name="ios">
        <allow-intent href="itms:*" />
        <allow-intent href="itms-apps:*" />
        <preference name="DisallowOverscroll" value="true" />
        <preference name="StatusBarStyle" value="lightcontent" />
        <preference name="StatusBarOverlaysWebView" value="false" />
        <preference name="StatusBarBackgroundColor" value="#389E46" />

        <!-- iOS icons from makeicons -->
        <icon src="assets/icon/ios/AppIcon.appiconset/Icon-Small@2x.png" width="58" height="58" />
        <icon src="assets/icon/ios/AppIcon.appiconset/Icon-Small@3x.png" width="87" height="87" />
        <icon src="assets/icon/ios/AppIcon.appiconset/Icon-40@2x.png" width="80" height="80" />
        <icon src="assets/icon/ios/AppIcon.appiconset/Icon-40@3x.png" width="120" height="120" />
        <icon src="assets/icon/ios/AppIcon.appiconset/Icon-60@2x.png" width="120" height="120" />
        <icon src="assets/icon/ios/AppIcon.appiconset/Icon-60@3x.png" width="180" height="180" />
        <icon src="assets/icon/ios/AppIcon.appiconset/Icon-Small.png" width="29" height="29" />
        <icon src="assets/icon/ios/AppIcon.appiconset/Icon-Small@2x.png" width="58" height="58" />
        <icon src="assets/icon/ios/AppIcon.appiconset/Icon-40.png" width="40" height="40" />
        <icon src="assets/icon/ios/AppIcon.appiconset/Icon-40@2x.png" width="80" height="80" />
        <icon src="assets/icon/ios/AppIcon.appiconset/Icon-76.png" width="76" height="76" />
        <icon src="assets/icon/ios/AppIcon.appiconset/Icon-76@2x.png" width="152" height="152" />
        <!-- images are determined by width and height. The following are supported -->
        <splash src="/assets/splash/iphone/Default.png" width="320" height="480"/>
        <splash src="/assets/splash/iphone/Default@2x.png" width="640" height="960"/>
        <splash src="/assets/splash/iphone/Default-Portrait.png" width="768" height="1024"/>
        <splash src="/assets/splash/iphone/Default-Portrait@2x.png" width="1536" height="2048"/>
        <splash src="/assets/splash/iphone/Default-Landscape.png" width="1024" height="768"/>
        <splash src="/assets/splash/iphone/Default-Landscape@2x.png" width="2048" height="1536"/>
        <splash src="/assets/splash/iphone/Default-568h@2x.png" width="640" height="1136"/>
        <splash src="/assets/splash/iphone/Default-667h@2x.png" width="750" height="1334"/>
        <splash src="/assets/splash/iphone/Default-Portrait-736h@3x.png" width="1242" height="2208"/>
        <splash src="/assets/splash/iphone/Default-Landscape-736h@3x.png" width="2208" height="1242"/>
    </platform>
    <plugin name="cordova-plugin-statusbar" spec="^1.0.1" />
    <plugin name="cordova-plugin-geolocation" spec="^1.0.1" />
</widget>
